appdirs
arrow-cpp
brotli
brotli-bin
bzip2
c-ares
ca-certificates
click
contourpy
cycler
cython
et_xmlfile
expat
fonttools
freetype
gflags
glog
jedi
joblib
jpeg
kiwisolver
krb5
lcms2
lerc
levenshtein
libabseil
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcurl
libcxx
libdeflate
libedit
libev
libevent
libexpat
libffi
libgfortran
libgfortran5
libgrpc
libjpeg-turbo
liblapack
liblzma
liblzma-devel
libmpdec
libnghttp2
libopenblas
libpng
libprotobuf
libsqlite
libssh2
libthrift
libtiff
libwebp-base
libxcb
libzlib
llvm-openmp
lz4-c
matplotlib-base
munkres
ncurses
nltk
numpy
openjpeg
openpyxl
openssl
orc
packaging
pandas
parso
patsy
pillow
pip
polars
prompt-toolkit
pthread-stubs
ptpython
pyarrow
pygments
pyparsing
pyreadr
python
python-dateutil
python-levenshtein
python-tzdata
python_abi
pytz
qhull
rapidfuzz
re2
readline
regex
rstr
scikit-learn
scipy
seaborn
seaborn-base
setuptools
six
snappy
sqlite
statsmodels
threadpoolctl
tk
tqdm
tzdata
wcwidth
xonsh
xorg-libxau
xorg-libxdmcp
xz
xz-gpl-tools
xz-tools
zlib
zstd
